<section>
    <h1>Configuraciones del sistema</h1>
    <ul>
        <li>PORT: {{PORT}}</li>
        <li>NODE_ENV: {{NODE_ENV}}</li>
        <li>TIPO_PERSISTENCIA: {{TIPO_PERSISTENCIA}}</li>
        <li>PRIVATE_KEY: {{PRIVATE_KEY}}</li>
        <li>EXPIRATION_TIME: {{EXPIRATION_TIME}}</li>
        <li>NODEMAILER_HOST: {{NODEMAILER_HOST}}</li>
        <li>NODEMAILER_PORT: {{NODEMAILER_PORT}}</li>
        <li>NODEMAILER_EMAIL: {{NODEMAILER_EMAIL}}</li>
        <li>NODEMAILER_PASS: {{NODEMAILER_PASS}}</li>
        <li>ADMIN_EMAIL: {{ADMIN_EMAIL}}</li>
        <li>MONGODB_URI: {{MONGODB_URI}}</li>
    </ul>
</section>